body {
    margin: 0;

    background:
    radial-gradient(circle at top,
    #a855f7 0%,
    #6b21a8 35%,
    #1e0033 70%,
    #000000 100%);

    text-align: center;
    font-family: sans-serif;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.story-image {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
}

input {
    width: 80%;
    padding: 12px;
    font-size: 18px;
    margin-top: 20px;
}

button {
    margin: 20px;
    padding: 14px 24px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #8d4de8;
    color: white;
}