
body{
margin:0;
background:#6d4aa1;
font-family:sans-serif;
text-align:center;
}

.page{
display:none;
padding:20px;
}

.page.active{
display:block;
}

.main-image{
width:100%;
max-width:500px;
border-radius:12px;
}

input{
width:80%;
padding:12px;
margin-top:15px;
font-size:18px;
}

button{
margin-top:15px;
padding:12px 24px;
font-size:18px;
border:none;
border-radius:10px;
background:#ff69b4;
color:white;
cursor:pointer;
}
